// styles and animations

//loading spinner and animation

.spinnercontainer {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 25;
  animation: spinnerfade 3s ease-in 1.5s forwards;
  -webkit-animation: spinnerfade 3s ease-in 1.5s forwards;
  -moz-animation: spinnerfade 3s ease-in 1.5s forwards;
}

.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid $primary-color;
  border-right: 5px solid $secondary-color;
  border-bottom: 5px solid $tertiary-color;
  margin: 100px auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  z-index: 20;
  animation: spin 2s linear infinite, spinnerfade 3s ease-in 1.5s forwards;
  -webkit-animation: spin 2s linear infinite,
    spinnerfade 3s ease-in 1.5s forwards;
  -moz-animation: spin 2s linear infinite, spinnerfade 3s ease-in 1.5s forwards;
}

// reusable header

@mixin basic-header {
  width: 100%;
  height: 70px;
  font-family: $heading-font;
  font-size: map-get($font-size, large);
  color: black;
  text-align: center;
  text-decoration: none;
  padding-top: 30px;
  position: relative;
  .arrowicon {
    position: absolute;
    color: black;
    :hover {
      cursor: pointer;
    }

    @include phonebp {
      bottom: 11px;
      left: 16px;
    }
    @include tabletbp {
      bottom: 16px;
    }
    @include desktopbp {
      left: 25px;
      bottom: 16px;
    }
    @include LGdesktopbp {
      left: 20px;
      bottom: 16px;
    }
  }
}

//purplebutton

@mixin purplebtn {
  width: 17em;
  height: 4em;
  background: linear-gradient(to bottom, $secondary-color, $primary-color);
  background-color: $primary-color;
  border-radius: 39px;
  color: white;
  text-align: center;
  border: hidden;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 2s ease;

  &:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, $secondary-color, $lightened-color);
    background-color: $lightened-color;
    box-shadow: 0px 4px 6px rgba(48, 44, 44, 1);
  }

  &:active {
    background: linear-gradient(to bottom, $secondary-color, $lightened-color);
    background-color: $lightened-color;
    box-shadow: 0px 4px 6px rgba(48, 44, 44, 1);
  }
}

// How button

@mixin howbutton {
  width: 20em;
  height: 5em;
  border-radius: 25px;
  background-color: $greytonelgt;
  border: hidden;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

@mixin numberbtn {
  width: 20px;
  height: 20px;
  background-color: $primary-color;
  border-radius: 20px;
  color: white;
}

@mixin newbtn {
  width: 77px;
  height: 30px;
  border-radius: 5px;
  background-color: $tertiary-color;
  border: hidden;
  cursor: pointer;
  text-align: center;
  color: #3e9b83;
  .newbuttontxt {
    padding-top: 6px;
    font-family: $primary-font;
    font-style: bold;
  }
}

// heart animations

@keyframes heartfill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heartfade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// footer

@mixin footer {
  .footerbox {
    background-color: $footer;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
  }

  .footertitle {
    font-family: $heading-font;
    padding-top: 1em;
  }
  .footerlist {
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .utensils {
    color: white;
  }
  .handshake {
    color: white;
  }
  #suggest {
    padding-left: 5px;
    color: white;
  }
  #become {
    color: white;
  }
  .footerlink {
    color: white;
    text-decoration: none;
  }
}
// Menubox

@mixin menubox {
  width: 100%;
  height: auto;
  background-color: rgb(241, 242, 243);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

@mixin whiteboxstyle {
  width: 100%;
  background-color: white;
  border-radius: 23px;
  padding: 1em;
  display: inline-block;
  margin: 1em auto auto;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

// animation menu page load

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// animation loading spinner

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top-color: $primary-color;
    border-right-color: $secondary-color;
    border-bottom-color: $tertiary-color;
  }
  33% {
    transform: rotate(120deg);
    border-top-color: $secondary-color;
    border-right-color: $tertiary-color;
    border-bottom-color: $primary-color;
  }
  66% {
    transform: rotate(240deg);
    border-top-color: $tertiary-color;
    border-right-color: $primary-color;
    border-bottom-color: $secondary-color;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: $primary-color;
    border-right-color: $secondary-color;
    border-bottom-color: $tertiary-color;
  }
}
@keyframes spinnerfade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

// /* slider green rotating tick animations */

.slider {
  background-color: $tertiary-color;
  width: 20%;
  height: 100%;
  position: absolute;

  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  cursor: pointer;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  transition: transform 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
}

.tick-icon {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.tick {
  color: $tertiary-color;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

// desktop

.whitebox:hover .slider {
  @include desktopbp {
  }
  right: 0; /* Slide in from the right */
  .tick {
    animation: rotate 0.5s linear forwards;
    -webkit-animation: rotate 0.5s linear forwards;
    -moz-animation: rotate 0.5s linear forwards;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
