// colours

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$greytone: #e8e9ed;
$greytonelgt: rgb(253, 253, 253);

// font families
$heading-font: "Shrikhand", sans-serif;
$primary-font: "Roboto", sans-serif;

// fonts weights map

$font-weights: (
  xsmall: 200,
  small: 300,
  medium: 400,
  bold: 500,
  extra-bold: 700,
);
