// colours

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$greytone: #e1e3ecfa;
$greytonelgt: rgb(241, 242, 243);
$footer: rgb(67, 66, 66);

// font families
$heading-font: "Shrikhand", sans-serif;
$primary-font: "Roboto", sans-serif;

// fonts weights map

$font-weights: (
  xsmall: 200,
  small: 300,
  medium: 400,
  bold: 500,
  extra-bold: 700,
);

// breakpoints

$breakpoints: (
  "phone": 360px,
  "tablet": 768px,
  "desktop": 1366px,
  "LGdesktop": 1920px,
);
