@import "./resets";
@import "./variables";
@import "./styles";

// header

.headerbox {
  @include basic-header;
  box-shadow: 0px 0px 10px 0px black;
  text-align: center;
}

// nav

.navigationbox {
  width: 100%;
  height: auto;
  text-align: center;

  .searchbox {
    text-align: center;
    width: 100%;
    padding-bottom: 1em;
    background-color: $greytone;
  }
  .searchfield {
    text-align: center;
    margin-top: 2em;
    background-color: $greytone;
    border: none;
    outline: none;
  }
}

// presentation

.presentationbox {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1em;
  background-color: $greytonelgt;

  .bookmenu {
    font-family: $primary-font;
    font-weight: map-get($font-weights, medium);
    text-align: center;
  }

  .discover {
    font-family: $primary-font;
    font-weight: map-get($font-weights, xsmall);
    text-align: center;
    padding: 1em 1em 0 1em;
  }
}

.purplebtn {
  @include purplebtn;
  margin-top: 2em;
  margin-bottom: 2em;
}

// How it works section

.howbox {
  width: 100%;
  height: auto;
  background-color: white;

  .howitworkstitle {
    font-family: $primary-font;
    font-weight: map-get($font-weights, medium);
    margin-left: 1.5em;
    margin-top: 1em;
  }
}

.howbtnflexbox {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 2em;

  .howbtn {
    @include howbutton;
    position: relative;
  }

  .numberbtn {
    @include numberbtn;
    z-index: 1;
    position: absolute;
    left: -9px;
    text-align: center;
  }
}

// restaurants

.restaurantsbox {
  width: 100%;
  background-color: $greytonelgt;
  margin-top: 2em;

  .restaurantstitle {
    font-family: $primary-font;
    font-weight: map-get($font-weights, medium);
    margin-left: 1.5em;
    padding-top: 2em;
  }

  .restaurantflexbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 2em;
  }

  .restcard {
    max-width: 300px;
    height: 220px;
    background-color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px gray;
    position: relative;
  }

  .imagewrap {
    width: 100%;
    height: 65%;
    overflow: hidden;
  }
}

.rest_img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.newbutton {
  @include newbtn;
  z-index: 10;
  position: absolute;
  left: 13em;
  bottom: 10.5em;
}

.imgfullpalette {
  object-position: 0px -45px;
}

.imgenchanted {
  object-position: 0px -131px;
}

.imgbastille {
  object-position: 0px -37px;
}

.imglegourmand {
  object-position: 0px -41px;
}

.resttextwrap {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-left: 1em;
  position: relative;

  .restname {
    font-family: $primary-font;
    font-weight: map-get($font-weights, medium);
  }
  .newyork {
    padding-top: 0.5em;
    font-family: $primary-font;
    font-weight: map-get($font-weights, xsmall);
  }
  .hearticon {
    position: absolute;
    padding-left: 240px;
    padding-top: 14px;
    color: gray;
    font-size: x-large;
  }
}
// footer

.footer {
  @include footer;
}
