@import "./resets";
@import "./variables";
@import "./styles";

// spinner

.spinnercontainer {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 25;
  animation: spinnerfade 3s ease-in 1.5s forwards;
}

.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px solid $primary-color;
  border-right: 5px solid $secondary-color;
  border-bottom: 5px solid $tertiary-color;
  margin: 100px auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  z-index: 20;
  animation: spin 2s linear infinite, spinnerfade 3s ease-in 1.5s forwards;
}

// header

.headerbox {
  @include basic-header;
  box-shadow: 0px 0px 10px 0px black;
  text-align: center;
  position: relative;
}

// nav

.navigationbox {
  width: 100%;
  height: auto;
  text-align: center;

  .searchbox {
    text-align: center;
    width: 100%;
    padding-bottom: 1em;
    background-color: $greytone;
  }
  .searchfield {
    text-align: center;
    margin-top: 2em;
    background-color: $greytone;
    border: none;
    outline: none;
  }
}

// presentation

.presentationbox {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1em;
  background-color: $greytonelgt;

  .bookmenu {
    font-family: $primary-font;
    font-weight: map-get($font-weights, medium);
    text-align: center;
  }

  .discover {
    font-family: $primary-font;
    font-weight: map-get($font-weights, xsmall);
    text-align: center;
    padding: 1em 1em 0 1em;
  }
}

.purplebtn {
  @include purplebtn;
  margin-top: 2em;
  margin-bottom: 2em;
}

// How it works section

.howbox {
  width: 100%;
  height: auto;
  background-color: white;

  .howitworkstitle {
    font-family: $primary-font;
    font-weight: map-get($font-weights, medium);
    margin-left: 1.5em;
    margin-top: 1em;
    @include desktopbp {
      padding-left: 43%;
    }
  }
}

.howbtnflexbox {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 1em;

  @include desktopbp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }
  @include LGdesktopbp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .howbtn {
    @include howbutton;
    position: relative;
  }

  .numberbtn {
    @include numberbtn;
    z-index: 1;
    position: absolute;
    left: -9px;
    text-align: center;
  }
}

// restaurants

.restaurantsbox {
  width: 100%;
  background-color: $greytonelgt;
  margin-top: 2em;
  padding-bottom: 2em;
  @include desktopbp {
    padding-left: 15em;
    padding-right: 15em;
  }

  .restaurantstitle {
    font-family: $primary-font;
    font-weight: map-get($font-weights, medium);
    margin-left: 1.5em;
    padding-top: 2em;
    @include desktopbp {
      padding-left: 40%;
    }
  }

  .restaurantflexbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-top: 2em;

    @include desktopbp {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;
      align-items: center;
    }
  }

  .restcard {
    max-width: 300px;
    height: 220px;
    background-color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px gray;
    position: relative;
  }

  .imagewrap {
    width: 100%;
    height: 65%;
    overflow: hidden;
  }
}

.rest_img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  .imgfullpalette2 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.newbutton {
  @include newbtn;
  z-index: 10;
  position: absolute;
  left: 13em;
  bottom: 10.5em;
  @include desktopbp {
    left: 10em;
  }
  @include LGdesktopbp {
    left: 13em;
  }
}

.imgfullpalette1 {
  object-position: 0px -45px;
}

.imgenchanted {
  object-position: 0px -131px;
}

.imgbastille {
  object-position: 0px -37px;
}

.imglegourmand {
  object-position: 0px -41px;
}

.resttextwrap {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-left: 1em;
  position: relative;
  width: 80%;

  .restname {
    font-family: $primary-font;
    font-weight: map-get($font-weights, medium);
    color: black;
  }
  .newyork {
    padding-top: 0.5em;
    font-family: $primary-font;
    font-weight: map-get($font-weights, xsmall);
    color: black;
  }
}
.lowerthird {
  display: flex;
  flex-direction: row;
}

.heart-icon {
  padding-top: 9%;
  padding-left: 3%;
  position: relative;
  cursor: pointer;
}

.heartempty {
  cursor: pointer;
  font-size: x-large;
  position: absolute;
  color: gray;
  background-color: white;
  &:hover {
    animation: heartfade 0.5s forwards;
    z-index: 1;
  }
  &:checked {
    animation: heartfade 0.5s forwards;
    z-index: 1;
  }
}

.heartsolid {
  font-size: x-large;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(to top, $primary-color, $secondary-color);
  -webkit-background-clip: text; /* For webkit-based browsers (Safari, Chrome) */
  background-clip: text;
  color: transparent; /* Make the text transparent */
  display: inline-block; /* This is necessary to apply the gradient to the text */

  &:hover {
    animation: heartfill 3s forwards;
    z-index: -1;
  }
  &:checked {
    animation: heartfade 5s forwards;
    z-index: 1;
  }
}

.footer {
  @include footer;
  .footerlink {
    &:hover {
      cursor: pointer;
    }
  }
}

// The FULL PALETTE page

.headerbox {
  padding-bottom: 1em;
}

.pagecontainer {
  width: 100%;
  position: relative;
}

.imgfullpalette2 {
  z-index: -1;
  position: absolute;
}

.menuboxfullpalette {
  @include menubox;
  z-index: 2;
  margin-top: 160px;
  padding-bottom: 2em;
  margin-top: 195px;
  @include tabletbp {
    margin-top: 375px;
  }
  @include desktopbp {
    margin-top: 500px;
  }
  @include LGdesktopbp {
    margin-top: 593px;
  }
}

.fullpaletteheading {
  font-family: $heading-font;
  font-size: map-get($font-size, large);
}

.uppermenuwrap .whitebox {
  &:nth-child(1) {
    animation: fadein 0.5s ease forwards;
  }

  &:nth-child(2) {
    animation: fadein 1s ease forwards;
  }

  &:nth-child(3) {
    animation: fadein 1.5s ease forwards;
  }
}

.entrees {
  margin-top: 1em;
  font-weight: map-get($font-weights, xsmall);
  display: inline-block;
  color: black;
}

.underline-text {
  position: relative;
}

.underline-text::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 4px;
  background-color: $tertiary-color; /* Specify your desired underline color */
  bottom: -2px; /* Adjust this value to control the space between the word and underline */
  left: 0;
}

// practice

.whitebox {
  @include whiteboxstyle;
  display: flex;
  flex-direction: row;
}

.divblock {
  width: 95%;
}

.side {
  font-family: $primary-font;
  font-weight: map-get($font-weights, xsmall);
  font-size: map-get($font-size, small);
  padding-top: 7px;
}

.price {
  padding-top: 5%;

  @include tabletbp {
    padding-top: 2%;
  }
  @include LGdesktopbp {
    padding-top: 1%;
  }
}

.maindish {
  margin-top: 2em;
  font-weight: map-get($font-weights, xsmall);
}

.middlemenuwrap .whitebox {
  &:nth-child(1) {
    animation: fadein 2s ease forwards;
  }

  &:nth-child(2) {
    animation: fadein 2.5s ease forwards;
  }

  &:nth-child(3) {
    animation: fadein 3s ease forwards;
  }
}

.desserts {
  margin-top: 2em;
  font-weight: map-get($font-weights, xsmall);
}

.dessertswrap .whitebox {
  &:nth-child(1) {
    animation: fadein 3.5s ease forwards;
  }

  &:nth-child(2) {
    animation: fadein 4s ease forwards;
  }

  &:nth-child(3) {
    animation: fadein 4.5s ease forwards;
  }
}

.orderbutton {
  @include purplebtn;
  margin-top: 10em;
  display: block;
  margin: 3em auto auto;
}

.footer {
  @include footer;
}

// slider animation

.slider {
  background-color: $tertiary-color;
  width: 20%; /* Initial width when hidden */
  height: 100%;
  position: absolute;
  top: 0;
  right: -22%; /* Initially off-screen */
  transition: right 0.3s ease; /* Animation effect */
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  cursor: pointer;
}
.tick-icon {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.tick {
  color: $tertiary-color;
  animation: rotate 1s linear forwards;
  animation-fill-mode: forwards;
}

/* Hover effect for desktop */

.whitebox:hover .slider {
  @include desktopbp {
  }
  right: 0; /* Slide in from the right */
}

/* Click effect for mobile */

@media (max-width: 767px) {
  .slider {
    right: 0; /* Initially visible on mobile */
    display: none; /* Hide content initially */
  }

  .whitebox:active .slider {
    display: block; /* Show content on click */
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
